@use "../../../style/variables.scss" as color;

.lodgingSectionIntroContainer {
  color: color.$Orange;
  h1 {
    font-size: 1.8rem;
    font-weight: 500;

    margin-bottom: 5px;
  }
  p {
    font-size: 0.9rem;
  }
}
