@use "../../../style/variables.scss" as color;

.lodgingHostContainer {
  display: flex;
  align-items: center;
  gap: 7px;
  color: color.$Orange;

  img {
    border-radius: 9999px;
    width: 50px;
  }
}

.hostName {
  max-width: min-content;
  text-align: right;
}
