.heroBannerContainer {
  position: relative;
  margin: 20px 0;
  img {
    width: 100%;
    filter: brightness(75%);
    border-radius: 15px;
  }
}
.titleWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 380px) {
  .heroBannerContainer {
    .titleWrapper {
      left: 40%;
    }
  }
}
