@use "../../style/variables.scss" as color;

.navList {
  display: flex;
  gap: 30px;

  li {
    color: color.$Orange;
  }

  .active {
    text-decoration: underline;
    text-decoration-color: color.$Orange;
    margin-bottom: 5px;
  }
}

@media (max-width: 380px) {
  .navList {
    gap: 15px;
    li {
      font-size: 0.8rem;
    }
  }
}
