.gallerySection {
  margin-bottom: 20px;
}

.accordeonsWrapper {
  display: flex;
  gap: 70px;

  .accordeonWrapper {
    width: 50%;
  }
}

.generatedDescription,
.generatedEquipments {
  margin-top: 10px;
}

.generatedDescription {
  line-height: 1.4rem;
}

.generatedEquipments {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.entitiesContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}

.entitiesWrapper {
  display: flex;
  flex-direction: column;
}

.entitiesWrapper:nth-child(1) {
  gap: 20px;
}

.entitiesWrapper:nth-child(2) {
  gap: 10px;
  align-items: flex-end;
}

@media (max-width: 660px) {
  .entitiesContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .entitiesWrapper:nth-child(1) {
    gap: 20px;
  }

  .entitiesWrapper:nth-child(2) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .accordeonsWrapper {
    flex-direction: column;
    gap: 30px;
    .accordeonWrapper {
      width: 100%;
    }
  }
}
