@use "../../../style/variables.scss" as color;

.lodgingFeedContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 50px;
  padding: 50px;
  background-color: color.$Grey;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .lodgingFeedContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 660px) {
  .lodgingFeedContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  @media (max-width: 380px) {
    .lodgingFeedContainer {
      background: none;
      padding: 0;
      gap: 25px;
    }
  }
}
