@use "./variables.scss" as color;

a {
  text-decoration: none;
  color: color.$Black;
}

a:hover {
  opacity: 0.8;
}

body {
  position: relative;
  height: 100%;
  min-height: 100vh;
  background-color: color.$White;
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

footer {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}
