@use "./variables.scss" as color;

a {
  text-decoration: none;
  color: color.$Black;
}

body {
  background-color: color.$White;
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
