@use "../../../style/variables.scss" as color;

.homeBannerTitle {
  font-size: 2em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: color.$White;
  white-space: nowrap;
  font-weight: 500;
}

.lineBreak {
  display: none;
}

@media (max-width: 660px) {
  .homeBannerTitle {
    font-size: 1.4rem;
  }
}

@media (max-width: 380px) {
  .homeBannerTitle {
    font-size: 1.2rem;
  }

  .lineBreak {
    display: block;
  }
}
